*.obj
*.bin
*.user
*.suo
*.vscode/
*.vs/
*.sln.ide/
*.sln.docstates
project.lock.json
project.fragment.lock.json
*.cache
*.log
bin/
obj/
TestResults/
VersionAssemblies/
_coverage/
node_modules/
npm-debug.log*
.pakage/
packages/
*.nuget.props
*.nuget.targets
**/Dotnet/*
